# --- Repositories --- #
#/xLarge

# --- Obsidian --- #
workspace
workspace.json

.obsidian*/**/*
#.obsidian.mobile/**/*
#.obsidian.desktop/**/*
#
#.obsidian.mobile
.obsidian
#.obsidian.desktop
#.obsidian.mobile/*
#.obsidian/*
#.obsidian.desktop/*
#
#.obsidian/
.trash/

# --- Mac --- #

# General
.DS_Store
.AppleDouble
.LSOverride
venv/

# Icon must end with two \r
Icon

# Versioning and Zips
*.bak
*.git
*.vrn
*.zip
*.rar
*.7z

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# --- Windows --- #

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk


# --- VSCode --- #
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


# PyCharm
.idea
*.iml

# Local History for Visual Studio Code
.history/

# See https://github.com/obsidian-community/obsidian-hub/wiki/Tip:-Keeping-Hub-TODO-lists
/DO NOT COMMIT/
node_modules/
/WikiData
/Earth/Continent/Asia/Asia~West/Yemen~Republic
/Earth/Continent/Asia/Asia~South/Bangladesh
/Earth/Continent/Asia/Asia~South/Bhutan
/Earth/Continent/Asia/Asia~South/India
/Earth/Continent/Asia/Asia~South/Maldives
/Earth/Continent/Asia/Asia~South/Nepal
/Earth/Continent/Asia/Asia~South/Pakistan
/Earth/Continent/Asia/Asia~South/Sri_Lanka
/Earth/Continent/Asia/Asia~South~East/Cambodia
/Earth/Continent/Asia/Asia~South~East/Laos
/Earth/Continent/Asia/Asia~South~East/Malay_Archipelago/Indonesia
/Earth/Continent/Asia/Asia~South~East/Malay_Archipelago/Malaysia
/Earth/Continent/Asia/Asia~South~East/Malay_Archipelago/Papua-New_Guinea
/Earth/Continent/Asia/Asia~South~East/Malay_Archipelago/Philippines
/Earth/Continent/Asia/Asia~South~East/Malay_Archipelago/Singapore
/Earth/Continent/Asia/Asia~South~East/Myanmar
/Earth/Continent/Asia/Asia~South~East/Thailand
/Earth/Continent/Asia/Asia~South~East/Vietnam
/Earth/Continent/Asia/Asia~West/Bahrain
/Earth/Continent/Asia/Asia~West/Iran
/Earth/Continent/Asia/Asia~West/Iraq
/Earth/Continent/Asia/Asia~West/Israel
/Earth/Continent/Asia/Asia~West/Jordan
/Earth/Continent/Asia/Asia~West/Kuwait
/Earth/Continent/Asia/Asia~West/Lebanon
/Earth/Continent/Asia/Asia~West/Oman
/Earth/Continent/Asia/Asia~West/Qatar
/Earth/Continent/Asia/Asia~West/Saudi_Arabia
/Earth/Continent/Asia/Asia~West/Syria
/Earth/Continent/Asia/Asia~West/United_Arab_Emirates
/Earth/Continent/Asia/Asia~Central/Afghanistan
/Earth/Continent/Asia/Asia~Central/Kazakhstan
/Earth/Continent/Asia/Asia~Central/Kyrgyzstan
/Earth/Continent/Asia/Asia~Central/Tajikistan
/Earth/Continent/Asia/Asia~Central/Turkmenistan
/Earth/Continent/Asia/Asia~Central/Uzbekistan
/Earth/Continent/Asia/Asia~East/China
/Earth/Continent/Asia/Asia~East/Japan
/Earth/Continent/Asia/Asia~East/Korea~North
/Earth/Continent/Asia/Asia~East/Korea~South
/Earth/Continent/Asia/Asia~East/Mongolia
/Earth/Continent/Asia/Asia~East/Taiwan
/Earth/Continent/Asia/Asia~North
/Earth/Continent/Asia/Asia~North~West/Armenia
/Earth/Continent/Asia/Asia~North~West/Azerbaijan
/Earth/Continent/Africa/Africa~Central/Burundi
/Earth/Continent/Africa/Africa~Central/Cameroon
/Earth/Continent/Africa/Africa~Central/Central_African_Rep
/Earth/Continent/Africa/Africa~Central/Chad
/Earth/Continent/Africa/Africa~Central/Congo~Brazzaville
/Earth/Continent/Africa/Africa~Central/Congo~Kinshasa
/Earth/Continent/Africa/Africa~Central/Equatorial_Guinea
/Earth/Continent/Africa/Africa~Central/Gabon
/Earth/Continent/Africa/Africa~Central/Niger
/Earth/Continent/Africa/Africa~Central/Nigeria
/Earth/Continent/Africa/Africa~Central/Rwanda
/Earth/Continent/Africa/Africa~Central/Sao_Tome_and_Principe
/Earth/Continent/Africa/Africa~Central/Uganda
/Earth/Continent/Africa/Africa~Central/Zambia
/Earth/Continent/Africa/Africa~East/British_Indian_Ocean_Territory
/Earth/Continent/Africa/Africa~East/Comoros
/Earth/Continent/Africa/Africa~East/Djibouti
/Earth/Continent/Africa/Africa~East/Eritrea
/Earth/Continent/Africa/Africa~East/Ethiopia
/Earth/Continent/Africa/Africa~East/Kenya
/Earth/Continent/Africa/Africa~East/Madagascar
/Earth/Continent/Africa/Africa~East/Malawi
/Earth/Continent/Africa/Africa~East/Mascarene-Islands/Mauritius
/Earth/Continent/Africa/Africa~East/Mascarene-Islands/Reunion
/Earth/Continent/Africa/Africa~East/Mayotte
/Earth/Continent/Africa/Africa~East/Mozambique
/Earth/Continent/Africa/Africa~East/Seychelles
/Earth/Continent/Africa/Africa~East/Somalia
/Earth/Continent/Africa/Africa~East/Somaliland
/Earth/Continent/Africa/Africa~East/Sudan~North
/Earth/Continent/Africa/Africa~East/Sudan~South
/Earth/Continent/Africa/Africa~East/Tanzania
/Earth/Continent/Africa/Africa~North/Algeria
/Earth/Continent/Africa/Africa~North/Egypt
/Earth/Continent/Africa/Africa~North/Libya
/Earth/Continent/Africa/Africa~North/Morocco
/Earth/Continent/Africa/Africa~North/Tunisia
/Earth/Continent/Africa/Africa~South/Angola
/Earth/Continent/Africa/Africa~South/Botswana
/Earth/Continent/Africa/Africa~South/Lesotho
/Earth/Continent/Africa/Africa~South/Namibia
/Earth/Continent/Africa/Africa~South/South_Africa
/Earth/Continent/Africa/Africa~South/Swaziland
/Earth/Continent/Africa/Africa~South/Zimbabwe
/Earth/Continent/Africa/Africa~West/Benin
/Earth/Continent/Africa/Africa~West/Burkina_Faso
/Earth/Continent/Africa/Africa~West/Cape_Verde
/Earth/Continent/Africa/Africa~West/Cote_d'ivoire
/Earth/Continent/Africa/Africa~West/Gambia
/Earth/Continent/Africa/Africa~West/Ghana
/Earth/Continent/Africa/Africa~West/Guinea-Bissau
/Earth/Continent/Africa/Africa~West/Guinea
/Earth/Continent/Africa/Africa~West/Liberia
/Earth/Continent/Africa/Africa~West/Mali
/Earth/Continent/Africa/Africa~West/Mauritania
/Earth/Continent/Africa/Africa~West/Senegal
/Earth/Continent/Africa/Africa~West/Sierra_Leone
/Earth/Continent/Africa/Africa~West/Togo
/Earth/Continent/Africa/Africa~West/Tristan_da_Cunha-Islands
/Earth/Continent/Africa/Africa~West/Western_Sahara
/Earth/Continent/Africa/Africa~East/Mauritius
/Earth/Continent/Africa/Africa~East/Reunion
/Earth/Continent/Africa/Africa~West/Saint_Helena
/Earth/Continent/America~Central/Belize
/Earth/Continent/America~Central/Costa_Rica
/Earth/Continent/America~Central/El_Salvador
/Earth/Continent/America~Central/Guatemala
/Earth/Continent/America~Central/Honduras
/Earth/Continent/America~Central/Mexico
/Earth/Continent/America~Central/Nicaragua
/Earth/Continent/America~Central/Panama
/Earth/Continent/Asia/Asia~South~East/Malay_Archipelago/Timor-Leste
/Earth/Continent/Australasia/Australia
/Earth/Continent/Australasia/New_Caledonia
/Earth/Continent/Australasia/New_Zealand
/Earth/Continent/America~South/Argentina
/Earth/Continent/America~South/Bolivia
/Earth/Continent/America~South/Brazil
/Earth/Continent/America~South/Chile
/Earth/Continent/America~South/Colombia
/Earth/Continent/America~South/Ecuador
/Earth/Continent/America~South/Falkland~Islands
/Earth/Continent/America~South/French_Guiana
/Earth/Continent/America~South/Guyana
/Earth/Continent/America~South/Paraguay
/Earth/Continent/America~South/Peru
/Earth/Continent/America~South/Serranilla_Bank
/Earth/Continent/America~South/Suriname
/Earth/Continent/America~South/Uruguay
/Earth/Continent/America~South/Venezuela
/Earth/Continent/America~North/Canada
/Earth/Continent/America~North/Saint-Pierre-et-Miquelon
/Earth/Continent/America~North/USA
/Earth/Continent/America~Caribbean
