*.md  linguist-detectable=true  
*.geojson  linguist-detectable=true  
*.svg  linguist-detectable=true  
*.excalidraw  linguist-detectable=true  
*.jpg  linguist-detectable=true  
*.jpeg  linguist-detectable=true  
*.excalidraw linguist-language=JSON  
*.geojson linguist-language=JSON  
