# --- Repositories --- #
#/xLarge
/_internal
/_public
/_internal
/_protect
/_private
/_personal
/_secret
/_Standards

# --- Obsidian --- #
workspace
workspace.json

.obsidian*/**/*
#.obsidian.mobile/**/*
.obsidian.desktop/**/*
#
#.obsidian.mobile
.obsidian
#.obsidian.desktop
#.obsidian.mobile/*
#.obsidian/*
#.obsidian.desktop/*
#
#.obsidian/
.trash/

# --- Mac --- #

# General
.DS_Store
.AppleDouble
.LSOverride
venv/

# Icon must end with two \r
Icon

# Versioning and Zips
*.bak
*.git
*.vrn
*.zip
*.rar
*.7z

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# --- Windows --- #

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk


# --- VSCode --- #
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


# PyCharm
.idea
*.iml

# Local History for Visual Studio Code
.history/

# See https://github.com/obsidian-community/obsidian-hub/wiki/Tip:-Keeping-Hub-TODO-lists
/DO NOT COMMIT/
node_modules/
/WikiData
/Earth/Continent/Asia/**/Yemen~Republic
/Earth/Continent/Asia/**/Bangladesh
/Earth/Continent/Asia/**/Bhutan
/Earth/Continent/Asia/**/India
/Earth/Continent/Asia/**/Maldives
/Earth/Continent/Asia/**/Nepal
/Earth/Continent/Asia/**/Pakistan
/Earth/Continent/Asia/**/Sri_Lanka
/Earth/Continent/Asia/**/Cambodia
/Earth/Continent/Asia/**/Laos
/Earth/Continent/Asia/**/Malay_Archipelago/Indonesia
/Earth/Continent/Asia/**/Malay_Archipelago/Malaysia
/Earth/Continent/Asia/**/Malay_Archipelago/Papua-New_Guinea
/Earth/Continent/Asia/**/Malay_Archipelago/Philippines
/Earth/Continent/Asia/**/Malay_Archipelago/Singapore
/Earth/Continent/Asia/**/Myanmar
/Earth/Continent/Asia/**/Thailand
/Earth/Continent/Asia/**/Vietnam
/Earth/Continent/Asia/**/Bahrain
/Earth/Continent/Asia/**/Iran
/Earth/Continent/Asia/**/Iraq
/Earth/Continent/Asia/**/Israel
/Earth/Continent/Asia/**/Jordan
/Earth/Continent/Asia/**/Kuwait
/Earth/Continent/Asia/**/Lebanon
/Earth/Continent/Asia/**/Oman
/Earth/Continent/Asia/**/Qatar
/Earth/Continent/Asia/**/Saudi_Arabia
/Earth/Continent/Asia/**/Syria
/Earth/Continent/Asia/**/United_Arab_Emirates
/Earth/Continent/Asia/**/Afghanistan
/Earth/Continent/Asia/**/Kazakhstan
/Earth/Continent/Asia/**/Kyrgyzstan
/Earth/Continent/Asia/**/Tajikistan
/Earth/Continent/Asia/**/Turkmenistan
/Earth/Continent/Asia/**/Uzbekistan
/Earth/Continent/Asia/**/China
/Earth/Continent/Asia/**/Japan
/Earth/Continent/Asia/**/Korea~North
/Earth/Continent/Asia/**/Korea~South
/Earth/Continent/Asia/**/Mongolia
/Earth/Continent/Asia/**/Taiwan
/Earth/Continent/Asia/Asia~North
/Earth/Continent/Asia/**/Armenia
/Earth/Continent/Asia/**/Azerbaijan
/Earth/Continent/Africa/**/Burundi
/Earth/Continent/Africa/**/Cameroon
/Earth/Continent/Africa/**/Central_African_Rep
/Earth/Continent/Africa/**/Chad
/Earth/Continent/Africa/**/Congo~Brazzaville
/Earth/Continent/Africa/**/Congo~Kinshasa
/Earth/Continent/Africa/**/Equatorial_Guinea
/Earth/Continent/Africa/**/Gabon
/Earth/Continent/Africa/**/Niger
/Earth/Continent/Africa/**/Nigeria
/Earth/Continent/Africa/**/Rwanda
/Earth/Continent/Africa/**/Sao_Tome_and_Principe
/Earth/Continent/Africa/**/Uganda
/Earth/Continent/Africa/**/Zambia
/Earth/Continent/Africa/**/British_Indian_Ocean_Territory
/Earth/Continent/Africa/**/Comoros
/Earth/Continent/Africa/**/Djibouti
/Earth/Continent/Africa/**/Eritrea
/Earth/Continent/Africa/**/Ethiopia
/Earth/Continent/Africa/**/Kenya
/Earth/Continent/Africa/**/Madagascar
/Earth/Continent/Africa/**/Malawi
/Earth/Continent/Africa/**/Mascarene-Islands/Mauritius
/Earth/Continent/Africa/**/Mascarene-Islands/Reunion
/Earth/Continent/Africa/**/Mayotte
/Earth/Continent/Africa/**/Mozambique
/Earth/Continent/Africa/**/Seychelles
/Earth/Continent/Africa/**/Somalia
/Earth/Continent/Africa/**/Somaliland
/Earth/Continent/Africa/**/Sudan~North
/Earth/Continent/Africa/**/Sudan~South
/Earth/Continent/Africa/**/Tanzania
/Earth/Continent/Africa/**/Algeria
/Earth/Continent/Africa/**/Egypt
/Earth/Continent/Africa/**/Libya
/Earth/Continent/Africa/**/Morocco
/Earth/Continent/Africa/**/Tunisia
/Earth/Continent/Africa/**/Angola
/Earth/Continent/Africa/**/Botswana
/Earth/Continent/Africa/**/Lesotho
/Earth/Continent/Africa/**/Namibia
/Earth/Continent/Africa/**/South_Africa
/Earth/Continent/Africa/**/Swaziland
/Earth/Continent/Africa/**/Zimbabwe
/Earth/Continent/Africa/**/Benin
/Earth/Continent/Africa/**/Burkina_Faso
/Earth/Continent/Africa/**/Cape_Verde
/Earth/Continent/Africa/**/Cote_d'ivoire
/Earth/Continent/Africa/**/Gambia
/Earth/Continent/Africa/**/Ghana
/Earth/Continent/Africa/**/Guinea-Bissau
/Earth/Continent/Africa/**/Guinea
/Earth/Continent/Africa/**/Liberia
/Earth/Continent/Africa/**/Mali
/Earth/Continent/Africa/**/Mauritania
/Earth/Continent/Africa/**/Senegal
/Earth/Continent/Africa/**/Sierra_Leone
/Earth/Continent/Africa/**/Togo
/Earth/Continent/Africa/**/Tristan_da_Cunha-Islands
/Earth/Continent/Africa/**/Western_Sahara
/Earth/Continent/Africa/**/Mauritius
/Earth/Continent/Africa/**/Reunion
/Earth/Continent/Africa/**/Saint_Helena
/Earth/Continent/America~Central/**/Belize
/Earth/Continent/America~Central/**/Costa_Rica
/Earth/Continent/America~Central/**/El_Salvador
/Earth/Continent/America~Central/**/Guatemala
/Earth/Continent/America~Central/**/Honduras
/Earth/Continent/America~Central/**/Mexico
/Earth/Continent/America~Central/**/Nicaragua
/Earth/Continent/America~Central/**/Panama
/Earth/Continent/Asia/**/Malay_Archipelago/Timor-Leste
/Earth/Continent/Australasia/Australia
/Earth/Continent/Australasia/New_Caledonia
/Earth/Continent/Australasia/New_Zealand
/Earth/Continent/America~South/**/Argentina
/Earth/Continent/America~South/**/Bolivia
/Earth/Continent/America~South/**/Brazil
/Earth/Continent/America~South/**/Chile
/Earth/Continent/America~South/**/Colombia
/Earth/Continent/America~South/**/Ecuador
/Earth/Continent/America~South/**/Falkland~Islands
/Earth/Continent/America~South/**/French_Guiana
/Earth/Continent/America~South/**/Guyana
/Earth/Continent/America~South/**/Paraguay
/Earth/Continent/America~South/**/Peru
/Earth/Continent/America~South/**/Serranilla_Bank
/Earth/Continent/America~South/**/Suriname
/Earth/Continent/America~South/**/Uruguay
/Earth/Continent/America~South/**/Venezuela
/Earth/Continent/America~North/Canada
/Earth/Continent/America~North/Saint-Pierre-et-Miquelon
#/Earth/Continent/America~North/USA
/Earth/Continent/America~North/USA/USA~5-Eastern
/Earth/Continent/America~North/USA/USA~6-Central
/Earth/Continent/America~North/USA/USA~7-Mountain
/Earth/Continent/America~North/USA/USA~8-Pacific
/Earth/Continent/America~Caribbean
Timor-Leste
